[Unit]
Description=Notify Franklin lunchbot's users with current balance and menu
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/home/tgbot/lunch-bot
ExecStart=/usr/bin/pypy /home/tgbot/lunch-bot/notify.py

[Install]
WantedBy=multi-user.target