[Unit]
Description=Updates Franklin lunchbot's users' balance in database
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/home/tgbot/lunch-bot
ExecStart=/usr/bin/pypy /home/tgbot/lunch-bot/dbconnector.py

[Install]
WantedBy=multi-user.target