[Unit]
Description=Telegram bot that serves lunch menu and personnal balance
After=network.target

[Service]
User=tgbot
Group=tgbot
WorkingDirectory=/home/tgbot/lunch-bot
ExecStart=/usr/bin/pypy /home/tgbot/lunch-bot/lunchbot.py

[Install]
WantedBy=multi-user.target